*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}
h1{
    color: blue;
}
.container{
    background:radial-gradient(at top,rgb(226, 224, 224) 67%,rgb(91, 90, 90));
    width: 97vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 17px;
    margin-top: 7px;
    box-shadow: 10 4px 10px rgba(72, 71, 71, 0.2);
}
.nav-components{
    display: flex;
    gap: 70px;
    list-style: none;
    padding: 2px;
}
#root{
    padding-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    /* position: fixed; */
    padding-bottom: 6px;
    display: flex;
    /* line-height: 5vh; */
    justify-content: center;

}
.main-navbar{
    position: fixed;
    background-color: rgb(116, 112, 112);
    height: 5vh;
    width: 30vw;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: start;
    margin-top: 20px;
}
.main-navbar:hover{

}
#button a:hover{
    color: rgb(116, 112, 112);
    background-color: white;
}
#button{
    /* background-color: red; */
    width: 6vw;
    display: flex;
    justify-content: center;
    height: 4.5vh;
    align-items:center;
    border-radius: 5px;
}
a{  text-decoration: none;
    color: white;
    font-weight: bold;
    width: 6vw;
    display: flex;
    justify-content: center;
    height: 4.5vh;
    align-items:center;
    padding: 3px;
    border-radius: 5px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: background-color 0.5s ease, color 0.5s ease;
    
}

.content {
    background:radial-gradient(at top,rgb(226, 224, 224) 68%,rgb(91, 90, 90));
    width: 95vw;
    height: 82vh;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    margin-top: 65px;
    border-radius: 10px;
    transition: background-color 0.5s ease,color 0.5 ease;
    
}
.content:hover{
    background:radial-gradient(at top,rgb(219, 215, 215) ,rgb(41, 40, 40) 73% );
    .lname{
        text-shadow: 1px 1px 8px white;
        color: white;
        transition: background-color 0.2s ease, color 0.2s ease;
    }
    .fname{
        text-shadow: 1px 1px 8px rgb(70, 67, 67);
        color: rgb(70, 67, 67);
        transition: background-color 0.2s ease, color 0.2s ease;
    }
    .container{
        background-color: black;
    }
    .aboutme{
        color: rgb(220, 207, 207);
    }
    .cont-but, .res-but {
    }
    b{
        color:black;
        text-decoration: underline;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
}
.fname{
    color: rgb(50, 48, 48);
    /* background-color: aqua; */
    font-size: 120px;
    display: flex;
    justify-content: center;
    /* font-family: "Alegreya SC", serif;
    font-weight: 500;
    font-style: normal; */
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 2px 2px 10px black;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.fname:hover{
    color: rgb(55, 53, 53);
}
.l-name{
    /* background-color: red; */
    display: flex;
    justify-content: center;height: fit-content;
}
.lname{
    color: rgb(50, 48, 48);
    font-size: 140px;
    /* font-family: "Alegreya SC", serif;
    font-weight: 500;
    font-style: normal; */
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 2px 2px 10px black;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.lname:hover{
    /* color: rgb(163, 150, 150); */
}
.name{
    height: 65vh;
    gap: 3px;
}
.buttons{
    /* background-color: red; */
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 25px;
    height: 14vh;
}
.cont-but, .res-but {
    border-radius: 4px;
    border-style: none;
    background-color: rgb(116, 112, 112);
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 2px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: background-color 0.4s ease, color 0.4s ease, border-radius 0.4s ease; 
}
.cont-but{
    width: 7vw;
    height: 5vh;
    border-radius: 4px;
    border-style: none;
    background-color: rgb(116, 112, 112);
    color: white;
    font-weight:600;
    font-size: 14px;
    padding: 2px;
    
}
.res-but{
    width: 7vw;
    height: 5vh;
    border-radius: 4px;
    border-style: none;
    background-color: rgb(116, 112, 112);
    color: white;
    font-weight:600;
    font-size: 14px;
    padding: 2px;
}
.cont-but:hover, .res-but:hover {
    background-color: white;
    color: rgb(116, 112, 112);
    border-radius: 20px;
}
.about{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 5px;
    padding-left: 15px;
}
.aboutme{
    color: rgb(85, 79, 79);
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
}
b{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 3px;
    word-spacing: 2px;
}
.work-div{
    height: 94vh;
    width: 90vw;
    margin-top: 19vh;
    margin-bottom: 20px;
    margin-left: 17px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(59, 57, 57);
    background-color: rgb(41, 40, 40);
}
.work-div:hover{
    background: linear-gradient(black 65%,rgb(45, 43, 45) );
}
.Work-div{
    height: 94vh;
    width: 90vw;
    margin-top: 9vh;
    margin-bottom: 20px;
    margin-left: 17px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(59, 57, 57);
    background-color: rgb(41, 40, 40);
}
.work{
    background-color: rgb(69, 64, 64);
    border-radius: 17px;
    height: 80vh;
    width: 64vw;
    margin-right: 20px;
    margin-top: 5vh;
}
.work:hover{
    transform:((1.5));
}
#work-div{
    height: 94vh;
    width: 90vw;
    margin-top: 8vh;
    margin-bottom: 20px;
    margin-left: 17px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content:start;
    background-color: rgb(41, 40, 40);
}
#work-div:hover{
    background: linear-gradient(black 65%,rgb(45, 43, 45) );
}
#work{
    background-color: rgb(69, 64, 64);
    border-radius: 17px;
    height: 80vh;
    width: 64vw;
    margin-left: 20px;
    margin-top: 5vh;
}
#work:hover{
    transform:((1.5));
}
.work-heading{
    /* background-color: red; */
    height: 80vh;
    width: 30vw;
    margin-right: 12px;
    border-radius: 20px;
    margin-top: 5vh;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landpg-heading{
    /* background-color: red; */
    width: 22vw;
    height: 40vh;
    margin-left:23px;
    padding: 10px;
    font-size: 20px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 70px;
    color: rgb(255, 251, 251);
    text-align: justify;
    margin-right: 6px;
}
.landing-pg{
    color: rgb(255, 251, 251);
    font-size: 35px;
    padding: 12px 20px;
    text-shadow: 2px 2px 4px rgb(209, 197, 197);
    letter-spacing: 2px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
}
#work-heading{
    height: 80vh;
    width: 30vw;
    margin-right: 12px;
    border-radius: 20px;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#landpg-heading{
    width: 22vw;
    height: 40vh;
    margin-left:25px;
    padding: 10px;
    font-size: 23px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 70px;
    color: rgb(255, 251, 251);
    text-align: justify;
    margin-right: 6px;
}
#landing-pg{
    color: rgb(255, 251, 251);
    font-size: 35px;
    padding: 12px 20px;
    text-shadow: 2px 2px 4px rgb(209, 197, 197);
    letter-spacing: 2px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
}
img{
    width: 45vw;
    height: 55vh;
   margin-top: 16vh;
   margin-left: 17vw;
   background-color: red;
}
#x0game{
    background-color: red;
    width: 50vw;
    height: 60vh;
    margin-top: 11vh;
    margin-right: 20px;display: flex;
    justify-content: start;
    margin-left: 0px;
    margin-bottom: 20vh;
}
.portfolio{
    width: 50vw;
    height: 55vh;
   margin-top: 16vh;
   margin-left: 12vw;
   border-radius: 10px;
}
.contact-pg{
    height: 94vh;
    width: 90vw;
    margin-left: 17px;
    margin-top: 7vh;
    margin-bottom: 20px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background:radial-gradient(at top,rgb(226, 224, 224) 60%,rgb(91, 90, 90));

}
.contactpg{
    border-radius: 17px;
    height: 55vh;
    width: 80vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 85px;
}
.reachout,.anytime{
    /* background-color: red; */
    width: 80vw;
    font-size: 90px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(50, 48, 48);
    text-shadow: 1px 1px 8px black;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    letter-spacing: 10px;
}
.anytime{
    font-size: 150px;
}
.contact-pg:hover{
    background: radial-gradient( at top,black,black);
    .reachout{
        color: white;
        text-shadow: 1px 1px 5px white;
    }
    .anytime{
        color: white;
        text-shadow: 2px 2px 5px white;
    }
    .icons{
        background-color: rgb(154, 147, 147);
    }
    .icon{
        color: rgb(255, 255, 255);
    }
    .arru{
        color: white;
        letter-spacing: 1px;
        
    }
}
.icons{
    background-color: rgb(104, 100, 100);
    height: 7vh;
    width: 25vw;
    border-radius: 10px;
    margin-left: 33vw;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 8px black;
}
.icon{
    color: white;
    padding: 5px;
    height: 5vh;
    width: 3vw;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.icon:hover{
    background: linear-gradient(black 55%,rgb(71, 68, 71) );
}
.gitbut{
    height: 14vh;
    display: flex;
    align-items: center;
}
.github-but{
    background-color: black;
    color: black;
    height: 8vh;
    width: 5vw;
    margin-left: 2vw;
    border-radius: 50%;
}
.github-icon{
    color: white;
    height: 7vh;
    width: 3vw;
    margin-top: 2px;
}
hr{
    margin-top: 8vh;
}
.about-pg{
    height: 94vh;
    width: 90vw;
    margin-left: 17px;
    margin-top: 7vh;
    margin-bottom: 20px;
    border-radius: 17px;
    display: flex;
    flex-direction: ro;
    justify-content: start;
    background-color: black;
}
.aboutpg-name{
    width: 60vw;
    margin-left: 4vw;
    margin-top: 5vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.about-pg-name{
    color: rgb(238, 229, 229);
    font-size: 90px;
    width: 50vw;
    text-shadow: 1px 1px 5px white;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 3px;
    margin-right: 10vw;
    animation: popUp 0.6s forwards;
}
.about-para{
    color: white;
    display: flex;
    width: 45vw;
    height: 50vh;
    padding: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: justify;
    padding-right: 5vw;
    text-shadow: 1px 1px 5px white;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 15vw;
    margin-bottom: 2px;
}
.about-heading{

    width: 55vw;
}
.skills{
    width: 50vw;
    margin-left: 5vw;
    margin-right: 4vw;
    height: 35vh;
    margin-top: 15vh;
    border-radius: 20px;
}
.frontend-hd, .backend-hd,.uiux-hd,.database-hd{
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(123, 117, 117);
    font-size: 15px;
    text-decoration: underline;
    letter-spacing: 1px;
    font-weight: 900;
}
.frontend-para,.backend-para,.uiux-para,.database-para{
    width: 13VW;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    letter-spacing: 2PX;
}
.arru{
    color: black;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}
.footer{
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: brown; */
    height: 7vh;
    padding-right: 10px;
    /* margin-top: 2vh; */
}
.git-icons{
    /* box-shadow: 1px 1px 3px white; */
    background-color: rgb(125, 112, 112);
    width: 4vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-top: 3vh;
    border-radius: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.git-icons:hover{
    background-color: rgb(27, 25, 25);
}
.git-icon{
    color: white;
}
.github-icons{
    background-color: rgb(125, 112, 112);
    width: 4vw;
    height: 6vh;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 54vw;
    margin-top: 3vh;
    border-radius: 7px;
     transition: background-color 0.3s ease, color 0.3s ease;
}
.github-icons:hover{
    background-color: rgb(27, 25, 25);
}
.github-icon{
    color: white;
    padding: 10px;
}
@media (max-width: 600px) {
    .container {
        margin-top: 1px;
        width: 97vw;
        height: 93vh;
        margin-right: 0px;
    }

    .main-navbar {
        width: 88vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        position: absolute;
    }
    ul{
        margin-top: 10px;
    }

    .navbar {
        padding-bottom: 10px;
    }

    .content {
        width: 88vw;
        flex-direction: column;
        padding: 10px;
        height: 82vh;
    }

    .fname {
        font-size: 60px;
    }

    .lname {
        font-size: 70px;
    }
    .cont-but{
        width: 70vw;
        height: 6vh;
    }
    .res-but{
        width: 70vw;
        height: 6vh;
    }
    .buttons {
        margin-top: 8vh;
        gap: 20px;
        flex-direction: column;
    }
    .about{
        margin-top: 20px;
    }
    .aboutme {
        width: 60vw;
        font-size: 9px;
        text-align: center;
        letter-spacing: 1px;
    }

    .work-div {
        display: flex;
        flex-direction: column;
        width: 97vw;
        height: 93vh;
        margin-right: 16px;
        margin-top: 30vh;
    }
    #work-div{
        display: flex;
        flex-direction: column;
        width: 97vw;
        height: 93vh;
        margin-right: 16px;
    }
    .Work-div{
        display: flex;
        flex-direction: column;
        width: 97vw;
        height: 93vh;
        margin-right: 16px;
    }
    .work{
        height: 80vh;
        width: 90vw;
        margin-left: 20px;
        margin-bottom: 15px;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #work{
        order: 2;
        height: 30vh;
        width: 90vw;
        margin-right: 20px;
        margin-bottom: 15px;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #work-heading{
        order: 1;
        gap: 1px;
        width: 85vw;
        margin-left: 10px;
        height: 50vh;
    }
    #landpg-heading {
        font-size: 12px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        width: 80vw;
        height: 20vh;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    #landing-pg{
        width: 90vw;
        display: flex;
        justify-content: center;
        font-size: 35px;
        margin-left: 11px;
    }
    #x0game{
        height: 25vh;
        width: 80vw;
        margin-top: 25vh;
        margin-left: 5vw;
        margin-bottom: 13vh;
    }
    img{
        height: 25vh;
        width: 80vw;
        margin-top: 2vh;
        margin-left: 5vw;
    }
    .portfolio{
        height: 25vh;
        width: 80vw;
        margin-top: 2vh;
        margin-left:6vw;
        margin-bottom: 5px;
        
    }
    .git-icon{
        width: 5vw;
    }
    .github-icon{
        width: 20vw;
       
    }
    .git-icons{
        width: 8vw;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .github-icons{
        width: 8vw;
        margin-left: 20px;
        margin-bottom: -20vh;
    }

    .work-heading {
        gap: 1px;
        width: 85vw;
        margin-left: 10px;
        height: 50vh;
    }

    .landpg-heading {
        font-size: 12px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        width: 80vw;
        height: 20vh;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    .landing-pg{
        width: 90vw;
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-left: 11px;

    }
    .about-pg{
        width: 97vw;
        display: flex;
        flex-direction: column;
    }
    .about-pg-name{
        margin-left: 97px;
        padding-left: 50px;
        width: 97vw;
        font-size: 40px;
    }
    .about-para{
        width: 96vw;
        margin-left: 98px;
        padding-left: 60px;
        font-size: 11px;
    }
    .skills{
        margin-top: 90px;
        order: 3;
        width: 88vw;
    }
    .frontend-hd,.backend-hd,.uiux-hd,.database-hd{
        font-size: 11px;
    }
    .frontend-para,.backend-para,.uiux-para{
        font-size: 10px;
    }
    .database-para{
        font-size: 10px; 
        width: 50vw;  
    }
    .contact-pg{
        width: 97vw;
    }
    .contactpg{
        margin-left: 10vw;
    }
    .reachout{
        font-size: 50px;
    }
    .anytime{
        font-size: 50px;
    }
    .icons{
        width: 50vw;
        margin-left: 24vw;
    }
    .icon{
        width: 10vw;
    }
    .arru{
        padding-right: 80px;
    }
    a:hover{
        color: rgb(116, 112, 112);
        background-color: white;
        width: vw;
    }
    .cont-but:hover{
        background-color: white;
        color: rgb(116, 112, 112);
        border-radius: 20px;
    }
    .res-but:hover{
        background-color: white;
        color: rgb(116, 112, 112);
        border-radius: 20px;
    }
    .cont-but{
        background-color: rgb(116, 112, 112);
        color: white;
    }
    .res-but{
        background-color: rgb(116, 112, 112);
        color: white;
    }

}
